@model IEnumerable<NguyenDaiHiep_2180605809_week_three.Models.Product>
@{
	ViewData["Title"] = "IndexAdmin";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
	<p>
		@Html.ActionLink("Create New", "AddAdmin")
	</p>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Image</th>
			<th>Category</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>
					@product.Name
				</td>
				<td>
					@product.Price
				</td>
				<td>
					@product.Description
				</td>
				<td>
					@if (product.ImageUrl != null)
					{
						<img src= "@product.ImageUrl" alt= "Product Image" style= "width: 300px; height: auto; " />
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => product.Category.Name)
				</td>
				<td>
					@Html.ActionLink("Update", "UpdateAdmin", new { id = @product.Id }) |
					@Html.ActionLink("Display", "DisplayAdmin", new { id = @product.Id }) |
					@Html.ActionLink("Delete", "DeleteAdmin", new { id = @product.Id })
				</td>
			</tr>
		}
	</tbody>
</table>